@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;700&display=swap');

@font-face
{
    font-family: 'Raleway-Regular';
    src: url('./assets/Fonts/Raleway/Raleway-Regular.ttf'), format('truetype');

    font-family: 'Raleway-Bold';
    src: url('./assets/Fonts/Raleway/Raleway-Bold.ttf'), format('truetype');

    font-family: 'Raleway-italic';
    src: url('./assets/Fonts/Raleway/Raleway-Italic.ttf'), format('truetype');

}

/* header */

header
{
    font-family: 'Raleway-Regular',sans-serif;
    color: white;
    background: #782221;
}

img:hover

{
    cursor: zoom-in;
}

.Name_first_name
{
    text-transform: uppercase;
}

.job
{
    text-transform: capitalize;
}

/* section */

address 
{
    background:#2c1d27 ;
}

address div a 
{
    text-decoration: none;
    color: white;
}

address div a:hover 
{
    text-decoration: underline;
}

/* main */

main 
{
    font-family: "Raleway-Regular", sans-serif;   
}

main h2, h3
{
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

main h2
{
    background:  #dbc2a4;
}

/* left CV */

.left_of_cv 
{
    background: #782221;
}

.about p 
{
    text-align: justify;
    text-indent: 2rem;
    color: white;   
}

.left_of_cv ul 
{
    color: white;
}

/* Right CV */

.professional_experience li:hover

{
    border-right: 0.2rem solid #6d071a;
}

.diplomas_trainings p:hover

{
    border-right: 0.2rem solid #6d071a;
}

.skills li:hover 

{
    border-right: 0.2rem solid #6d071a;
}

/* FOOTER */

footer div:hover 
{
    opacity: 0.8;
}