@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;700&display=swap');

@font-face
{
    font-family: 'Raleway-Regular';
    src: url('./assets/Fonts/Raleway/Raleway-Regular.ttf'), format('truetype');

    font-family: 'Raleway-Bold';
    src: url('./assets/Fonts/Raleway/Raleway-Bold.ttf'), format('truetype');

    font-family: 'Raleway-italic';
    src: url('./assets/Fonts/Raleway/Raleway-Italic.ttf'), format('truetype');

}

header
{
    font-family: 'Raleway-Regular',sans-serif;
    color: white;
    background: #782221;
}

.profile_picture:hover

{
    cursor: zoom-in;
}

.Name_first_name
{
    text-transform: uppercase;
}

.job
{
    text-transform: capitalize;
}